<div class="card card--vuln  disclosure--not-new severity--{{severitytext}}" data-snyk-test="{{severitytext}}">
    <div class="card__header">
        <div class="severity-icon severity-icon--{{severitytext}}"></div>
        <h2 class="card__title">{{ruleiddesc.shortDescription.text}}</h2>
        <ul class="card__meta">
            <li class="card__meta__item">SNYK-CODE</li>
            <li class="card__meta__item">{{ruleiddesc.properties.cwe}}</li>
            <li class="card__meta__item">Found in: {{locations.[0].physicalLocation.artifactLocation.uri}} (line : {{locations.[0].physicalLocation.region.startLine}})</li>
        </ul>
    </div>
    <div class="card__section">

        {{#unless @root.showSummaryOnly}}

        <div class="code-snippet">
            <code>
            {{#each locations.[0].physicalLocation.codeString}}
                {{this.codelineno}}{{this.codesource}}
            {{/each}}
            </pre>
        </div>

        <div class="card__summary">{{message.text}}</div>

        <h3>Data Flow</3>
            <ul>
                {{!-- <div>File location: {{location.physicalLocation.artifactLocation.uri}}</div> --}}
                <div class="data-flow">
                {{#each codeFlows.[0].threadFlows.[0].locations}}
                    <pre>{{ location.physicalLocation.codeString.[4]}}</pre>
                {{/each}}
                </code>
            </ul>

            <hr/>
        {{/unless}}
    </div><!-- .card__section -->

</div><!-- .card -->
