<div class="card card--vuln  disclosure--not-new severity--{{severitytext}}" data-snyk-test="{{severitytext}}">
    <h2 class="card__title">{{title}}</h2>
    <div class="card__section">

        <div class="label label--{{severitytext}}">
            <span class="label__text">{{severitytext}} severity</span>
        </div>

        <hr/>

        <ul class="card__meta">
            <li class="card__meta__item">
                <p>ID: {{ruleiddesc.shortDescription.text}}</p>
                <!--Rule ID: {{ruleId}}</a> -->
            </li>
            <li class="card__meta__item">
                <p>SNYK-CODE: {{ruleiddesc.properties.cwe}}</p>
            </li>

            <li class="card__meta__item"><p>Found in:
                {{locations.[0].physicalLocation.artifactLocation.uri}} (line : {{locations.[0].physicalLocation.region.startLine}})</p>
            </li>
        </ul>

        <hr/>

        {{#unless @root.showSummaryOnly}}
            <h2>Code Snippet</h2>
            <pre><code>
                {{#each locations.[0].physicalLocation.codeString}}
                    {{this}}
                {{/each}}
            </code></pre>

            <h2>Message</h2>
            <p>{{message.text}}</p>

            <h2>Data Flow</h2>
            <ul>
                {{#each codeFlows.[0].threadFlows.[0].locations}}
                    <p>File location: {{location.physicalLocation.artifactLocation.uri}}</p>
                {{/each}}
            </ul>

            <hr/>
        {{/unless}}
    </div><!-- .card__section -->

</div><!-- .card -->
