    <div class="layout-stacked__header header">
      <header class="project__header">
        <div class="layout-container">
          <a class="brand" href="https://snyk.io" title="Snyk">
            <svg width="122" height="55" fill="none" xmlns="http://www.w3.org/2000/svg">
              <title>Snyk - Snyk Code</title>
              <path d="M109.313 30.17h-.486v8.41h-6.038V17.642l6.038-9.438v19.535c1.202-1.473 5.251-7.065 5.251-7.065h7.455l-7.068 7.48 7.311 10.44h-7.626l-4.837-8.424Zm-16.827-1.373 2.476-8.065h5.981l-7.012 17.79c-2.089 5.35-5.08 8.968-9.544 8.968-1.717 0-3.162-.444-3.92-.873L82.87 42.9c.357.043.73.057 1.101.057 2.06 0 3.606-2.002 4.608-4.376l-7.355-17.848h6.768l2.647 7.965c.516 1.516.888 4.405.888 4.405s.472-2.788.958-4.304Zm-18.244-.414c0-2.331-1.03-3.432-2.99-3.432-.959 0-1.96.271-2.647.686V38.58h-6.039V20.903l5.91-.486-.143 2.889h.2a7.502 7.502 0 0 1 6.01-3.018c3.09 0 5.766 1.917 5.766 6.45V38.58h-6.067V28.383Zm-28.96 9.281.543-4.118c1.889.93 4.02 1.373 5.81 1.373 1.302 0 2.16-.444 2.16-1.23 0-2.26-8.142-1.716-8.142-7.623 0-3.776 3.463-5.764 7.799-5.764 2.16 0 4.392.587 5.838 1.102l-.587 4.047c-1.517-.586-3.577-1.13-5.294-1.13-1.06 0-1.918.372-1.918 1.058 0 2.231 8.314 1.788 8.314 7.552 0 3.832-3.406 6.035-8.07 6.035-2.576 0-4.665-.444-6.454-1.302Z" fill="#fff"/><g clip-path="url(#a)" fill="#fff"><path d="M32.119 12.094c.316.886.506 1.812.562 2.752v.292l-2.05 5.48c.474 4.327.925 9.668.424 10.963-.246.633-.99 1.781-2.2 3.398l1.312 12.142 5.198-3.724a2.05 2.05 0 0 0 .855-1.667V14.717a2.05 2.05 0 0 0-1.482-1.972 41.006 41.006 0 0 0-2.62-.65ZM14.78 14.863a11.782 11.782 0 0 1 7.524 0l.63-1.034.419-2.93s-2.93-.155-4.788-.155c-1.725 0-3.337.061-4.834.16l.422 2.93.627 1.029ZM6.005 31.58c-.498-1.283-.047-6.635.425-10.963l-2.036-5.479v-.293a9.917 9.917 0 0 1 .56-2.748 46.072 46.072 0 0 0-2.638.65A2.05 2.05 0 0 0 .831 14.72v27.01a2.05 2.05 0 0 0 .858 1.667l5.218 3.738 1.313-12.13c-1.213-1.631-1.966-2.786-2.215-3.424Z"/><path d="M25.884 1.172a.138.138 0 0 1 .126.076l.691 1.286c1.85 3.437 4.981 9.897 4.981 12.306v.11l-2.05 5.535v.091c.64 5.819.828 9.795.5 10.636-.293.75-1.441 2.343-2.417 3.624l1.421 11.581-.855.613-8.55 6.126a2.051 2.051 0 0 1-2.39 0l-6.915-4.98-1.052-.754-1.403-1.005L9.377 34.86c-.975-1.283-2.144-2.897-2.437-3.653-.328-.841-.141-4.817.504-10.636v-.09l-2.051-5.532v-.114c0-2.414 3.126-8.875 4.98-12.306l.692-1.286a.137.137 0 0 1 .126-.076.144.144 0 0 1 .146.126l1.85 12.891 1.145 1.884.293-.097c1.259-.442 2.58-.683 3.914-.714 1.34.036 2.665.278 3.932.717l.293.094 1.128-1.878 1.846-12.891a.144.144 0 0 1 .146-.126Zm0-1.172a1.31 1.31 0 0 0-1.307 1.13l-1.813 12.643-.542.88c-1.2-.364-2.442-.56-3.695-.587a13.3 13.3 0 0 0-3.677.586l-.542-.879-1.813-12.642A1.307 1.307 0 0 0 11.188 0a1.321 1.321 0 0 0-1.172.694l-.689 1.287c-.855 1.588-5.115 9.668-5.115 12.864v.323l.073.199 1.96 5.274c-.682 6.243-.82 9.944-.41 11.001.1.255.39 1.002 2.309 3.557l-1.35 11.09-.083.688.566.404 1.403 1.005 1.049.753 6.917 4.957a3.223 3.223 0 0 0 3.756 0l8.54-6.12.856-.612.563-.405-.082-.688-1.354-11.101c1.899-2.529 2.192-3.273 2.288-3.516.413-1.06.276-4.764-.41-11.005l1.96-5.273.074-.2v-.322c0-3.196-4.26-11.28-5.113-12.868L27.032.703A1.32 1.32 0 0 0 25.86.01L25.884 0Z"/><path d="m10.23 33.005 2.51-.733a.266.266 0 0 0 .138-.088l2.4-2.733a.293.293 0 0 1 .513.178l.416 7.835a.31.31 0 0 1-.05.181c-.167.244-.648.988-.648 1.445 0 .586.88 1.353 1.717 1.966a.81.81 0 0 1 .033-.073c.293-.534.688-.63.878-.22.066.303.088.613.068.923h.015v.72c0 .045-.01.09-.03.13-.155.316-.905 1.655-2.51 1.655-.686 0-2.37-.223-3.124-2.28-.931-2.552-.94-6.123-.94-6.273v-.246l-.153-.19a68.854 68.854 0 0 1-1.37-1.758.292.292 0 0 1 .137-.44ZM25.661 35.21l-.152.191v.246c0 .15 0 3.721-.94 6.273-.753 2.051-2.438 2.28-3.124 2.28-1.605 0-2.344-1.34-2.51-1.656a.292.292 0 0 1-.03-.129v-.72c-.019-.31.005-.62.07-.923.176-.41.566-.314.88.22 0 .023.02.05.032.073.852-.613 1.716-1.38 1.716-1.966 0-.457-.48-1.202-.647-1.445a.31.31 0 0 1-.05-.181l.416-7.835a.293.293 0 0 1 .513-.179l2.4 2.734a.267.267 0 0 0 .137.088l2.508.732a.293.293 0 0 1 .152.46c-.489.64-.97 1.243-1.37 1.738ZM13.245 26.987a.446.446 0 0 1-.437.384.739.739 0 0 0 1.156.432.733.733 0 0 0-.052-1.21h1.228a.035.035 0 0 1 .035.036 1.66 1.66 0 1 1-3.32.027v-.062h1.281-.02a.443.443 0 0 1 .129.393ZM12.436 25.296a.293.293 0 0 1-.223-.102c-.369-.431-1.464-1.878.437-1.878 1.424 0 2.549.861 3.176 1.482a.293.293 0 0 1-.208.498h-3.182ZM23.956 26.609a.051.051 0 0 0-.02 0h1.28v.061a1.659 1.659 0 0 1-3.317-.026v-.035h1.26a.733.733 0 0 0-.293.879.723.723 0 0 0 .586.45.736.736 0 0 0 .82-.567.448.448 0 0 1-.316-.762ZM21.451 25.296a.293.293 0 0 1-.21-.498c.626-.621 1.757-1.482 3.178-1.482 1.896 0 .803 1.447.437 1.878a.293.293 0 0 1-.223.102H21.45Z"/><path d="M21.419 45.322c-.198 0-.394-.024-.586-.07a.292.292 0 0 0-.293.113 2.43 2.43 0 0 1-3.976 0 .294.294 0 0 0-.293-.117 2.347 2.347 0 0 1-.554.065h-.172a.294.294 0 0 0-.279.433 3.738 3.738 0 0 0 6.59 0 .292.292 0 0 0-.276-.433l-.161.009Zm-2.077-3.279c.208.07.405.169.586.293-.19-.299-.422-.407-.586-.293Zm-2.14.258a2.34 2.34 0 0 1 .552-.267c-.159-.093-.367-.011-.551.282V42.3ZM17.666 41.437c-.216.07-.422.169-.613.293.206-.293.437-.408.613-.293ZM20.092 41.77a2.737 2.737 0 0 0-.66-.333c.182-.126.44 0 .66.334Z"/><path d="M17.384 44.894a.119.119 0 0 0-.112.077.117.117 0 0 0 .036.13 2.025 2.025 0 0 0 2.455.003.121.121 0 0 0 .035-.13.12.12 0 0 0-.11-.08h-2.303ZM7.423 14.049c.111-1.172 1.204-3.774 2.344-6.138a.234.234 0 0 1 .442.07l.226 1.553a.262.262 0 0 1 0 .067c-.132.879-.662 3.926-2.025 6.068a.234.234 0 0 1-.419-.044l-.547-1.465a.264.264 0 0 1-.02-.111ZM28.708 15.669c-1.36-2.142-1.892-5.195-2.021-6.068a.253.253 0 0 1 0-.067l.222-1.553a.235.235 0 0 1 .443-.07c1.134 2.364 2.226 4.954 2.344 6.138a.221.221 0 0 1 0 .105l-.545 1.465a.237.237 0 0 1-.443.05Z"/></g>
              <defs>
                <clipPath id="a">
                  <path fill="#fff" transform="translate(.84)" d="M0 0h35.392v54.7H0z"/>
                </clipPath>
              </defs>
            </svg>
          </a>
          <div class="header-wrap">
            {{#unless showSummaryOnly}}
              <h1 class="project__header__title">Snyk Code Report</h1>
            {{else}}
              <h1 class="project__header__title">Snyk Code Summary</h1>
            {{/unless}}

            <p class="timestamp">{{moment d "MMMM Do YYYY, h:mm:ss a"}}</p>
          </div>
          {{#if projects}}
            <div class="source-panel">
              {{#if projects.[0].details.coverage}}
                <span>Scanned the following languages:</span>
                <ul>
                  {{#each projects.[0].details.coverage}}<li class="paths">Language: {{this.lang}} Number of files: ({{this.files}})</li>{{/each}}
                </ul>            
              {{/if}}
            </div>

            <div class="meta-counts">
              <div class="meta-count">
                <span class="severity-icon severity-icon--critical"></span> <span>{{totalIssues}} issues</span>
              </div>
              <div class="meta-count">
                <span class="severity-icon severity-icon--high"></span> <span>{{totalIssues}} issues</span>
              </div>
              <div class="meta-count">
                <span class="severity-icon severity-icon--medium"></span> <span>{{totalIssues}} issues</span>
              </div>
              <div class="meta-count">
                <span class="severity-icon severity-icon--low"></span> <span>{{totalIssues}} issues</span>
              </div>
            </div><!-- .meta-counts -->
          {{/if}}
        </div><!-- .layout-container--short -->
      </header><!-- .project__header -->
    </div><!-- .layout-stacked__header -->
