<div class="card card--vuln  disclosure--not-new severity--{{severitytext}}" data-snyk-test="{{severitytext}}">
    <div class="card__header">
        <div class="card__header__main">
            <div class="severity-icon severity-icon--{{severitytext}}"></div>
            <h2 class="card__title">{{ruleiddesc.shortDescription.text}}</h2>
            <div class="card-actions">
                <span class="card-action card-dataflow is-selected" onclick="toggleCardView(event)">Data Flow</span>
                <span class="card-action card-fix" onclick="toggleCardView(event)">Fix Analysis</span>
            </div>
        </div>
        <ul class="card__meta">
            <li class="card__meta__item">SNYK-CODE</li>
            <li class="card__meta__item">{{ruleiddesc.properties.cwe}}</li>
        </ul>
    </div>
    <div class="card__section">

    {{#unless @root.showSummaryOnly}}

        <div class="code-snippet is-hidden">
        {{#each locations.[0].physicalLocation.codeString}}
<div><span class="code-lineno">{{~this.codelineno}}</span>{{#if this.codesourcehtml}}<span class="code-source">{{{this.codesourcehtml}}}</span>{{else}}<span class="code-source">{{this.codesource}}</span>{{/if}}</div>
        {{/each}}
        </div>

        <div class="card__summary severity--{{severitytext}}">
            {{message.text}}
            <div class="file-location">Found in: <strong>{{locations.[0].physicalLocation.artifactLocation.uri}} (line : {{locations.[0].physicalLocation.region.startLine}})</strong></div>    
        </div>

        <div class="collapsible-panel dataflow">
            <h2 class="panel-heading"><span class="heading-char">⇣</span> Data Flow</h2>
            {{#each codeFlows.[0].threadFlows.[0].locations}}
            {{#if location.physicalLocation.isshowfilename }}<div class="dataflow-filename"> {{location.physicalLocation.artifactLocation.uri}}</div>{{/if}}
            <div class="dataflow--item">
                <span class="dataflow--lineno" title="line:column">{{ location.physicalLocation.codeString.[4].codelineno }}:{{location.physicalLocation.region.startColumn}}</span>
                <div class="dataflow--code">{{{ location.physicalLocation.codeString.[4].codesourcehtml}}}</div>
                {{#if @first}}<div>Source</div>{{/if}}{{#if @last}}<div>Sink</div>{{/if}}
                <span class="dataflow--step">{{ @index }}</span>
            </div>
            {{/each}}
        </div>

        <div class="collapsible-panel fix-analysis">
            <h2 class="panel-heading"><span class="heading-char">✓</span> Fix Analysis</h2>
            <div class="markdown-content">
            {{{markdown ruleiddesc.help.markdown}}}
            </div>
        </div>

    {{/unless}}
    </div><!-- .card__section -->

</div><!-- .card -->
