<div class="card card--vuln  disclosure--not-new severity--{{severitytext}}" data-snyk-test="{{severitytext}}">
    <div class="card__header">
        <div class="severity-icon severity-icon--{{severitytext}}"></div>
        <h2 class="card__title">{{ruleiddesc.shortDescription.text}}</h2>
        <ul class="card__meta">
            <li class="card__meta__item">SNYK-CODE</li>
            <li class="card__meta__item">{{ruleiddesc.properties.cwe}}</li>
            {{!-- <li class="card__meta__item">Found in: {{locations.[0].physicalLocation.artifactLocation.uri}} (line : {{locations.[0].physicalLocation.region.startLine}})</li> --}}
        </ul>
    </div>
    <div class="card__section">

    {{#unless @root.showSummaryOnly}}

        <div class="code-snippet">
        {{#each locations.[0].physicalLocation.codeString}}
        {{#if this.codesourcehtml}}
        {{this.codelineno}}{{{this.codesourcehtml}}}
        {{else }}
        {{this.codelineno}}{{this.codesource}}
        {{/if}}
        {{/each}}
        </div>

        <div class="card__summary severity--{{severitytext}}">
            {{message.text}}
            <div class="file-location">Found in: {{locations.[0].physicalLocation.artifactLocation.uri}} (line : {{locations.[0].physicalLocation.region.startLine}})</div>    
        </div>

        <h3>Data Flow</3>
        <div class="dataflow">
            {{#each codeFlows.[0].threadFlows.[0].locations}}
            <div class="dataflow--item">
                <span class="dataflow--lineno" title="line:column">{{ location.physicalLocation.codeString.[4].codelineno }}:{{location.physicalLocation.region.startColumn}}</span>
                <div class="dataflow--code">{{{ location.physicalLocation.codeString.[4].codesourcehtml}}}</div>
                <span class="dataflow--step">{{ @index }}</span>
            </div>
            {{/each}}
        </div>

        <div class="fix-analysis">
            <h3>Fix Analysis here</h3>
{{{markdown ruleiddesc.help.markdown}}}
        </div>

    {{/unless}}
    </div><!-- .card__section -->

</div><!-- .card -->
